{% extends "home/layout.html" %}
{% block content %}
<h1 style="color:indigo;" class="mb-5">PDF to Images</h1>
<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div class="form-control">
        <input id="file-input" type="file" name="file" autocomplete="off" required accept=".pdf,.PDF">
    </div>
    <div class="ml-3" id="filenames"></div>
    <input class="btn btn-info mt-3" type="submit" value="Convert">
</form>
<script>
    var input = document.getElementById('file-input');
    var filenames = document.getElementById('filenames');
    function prettySize(size){
        if(size < 1024){
            return "" + size + " b";
        }
        size /= 1024;
        size = Math.round(size);
        if(size < 1024){
            return "" + size + " KB";
        }
        size /= 1024;
        size = Math.round(size);
        if(size < 1024){
            return "" + size + " MB";
        }
        size /= 1024;
        size = Math.round(size);
        if(size < 1024){
            return "" + size + " GB";
        }
    }
    function showFileName(event) {
      // var input = event.srcElement;
      var namelist = "<div><b>Selected Files:</b></div>";
      var idx=0;
      for(idx=0; idx<input.files.length; idx++){
        var name = input.files[idx].name;
        if(name != "undefined" && name != "item")
            namelist += "<div class=\"ml-3\">" + name + " (" + prettySize(input.files[idx].size) + ")" + "</div>";
      }
      filenames.innerHTML = namelist;
    }
    input.addEventListener('change', showFileName);
</script>
{% endblock content %}