{% extends "home/layout.html" %}
{% block content %}
<h1 style="color:indigo;" class="mb-3">About This Project</h1>
<h2 style="color:green;">Description</h2>
<p>
    This is a practice project.<br>
    This project aims at manipulating and performing various operations on a PDF.
</p>
<h2 style="color:green;">Tech Stack</h2>
<ol>
    <li>Language: Python</li>
    <li>Framework: Django</li>
    <li>
        Libraries Used:
        <ul type="disc">
            <li>Django</li>
        </ul>
    </li>
</ol>
<h2 style="color:green;">Features</h2>
<ol>
    <li>PDF Merge</li>
</ol>
{% endblock content %}